
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */